{% load mezzanine_tags i18n %}
<!DOCTYPE html>
<html>
<head>
{% include "common/meta.html" %}
</head>

<body>
{% block navbar %}
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">{% trans "Home" %} </a></li>
              <li class=""><a href="#">{% trans "Feeds" %} </a></li>
              <li class="active"><a href="#">{% trans "Home" %} </a></li>
            </ul>

	        <form action="" class="navbar-search pull-left">
	        <input class="search-query" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
	        </form>
	    	<ul class="nav pull-right">
	          <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            {% if request.user.is_authenticated %}
	            	{{ request.user.username }}
	            {% else %}
	            	{% trans "Log in or Sign up" %} 
	            {% endif %}
	            
	            <b class="caret"></b></a>
	            <ul class="dropdown-menu">
	              <li><a href="{% url account-login %}?next={{ request.path }}">{% trans "Login in" %}</a></li>
	              <li><a href="{% url account-signup %}">{% trans "Sign up" %}</a></li>
	            </ul>
	          </li>
	        </ul>
    </div>
</div>
</div>
</div>
{% endblock %}


<div class="container">
<div class="row">

<div class="span9 middle">
    {% block main %}{% endblock %}
</div>

{% block right %}
<div class="span3 right">
    {% block right_panel %}
       <div class="panel">
       </div>
    {% endblock %}
    
    {% block message_panel %}    
    {% include "common/includes/message_panel.html" %}
    {% endblock %}
    
    {% include "common/includes/user_panel.html" %}

</div>
{% endblock %}
</div>

<footer class="footer">
{% block footer %}
{% include "common/includes/footer.html" %}
{% endblock %}
</footer>
</div>
{% include "common/includes/footer_scripts.html" %}
</body>
</html>
