.search_icon {
    display: inline;
    width: 120px;
    height: 40px;
    vertical-align: middle;
    float: left;
    position: relative;
}

.search_input {
    margin-left: 120px;
    height: 40px;
    vertical-align: middle;
    width: 80%;
}

.search_city {
    margin-top: 5px;
    display: inline;
    height: 70%;
    vertical-align: middle;
    width: 100px;
    float: left;
    position: relative;
}

.search_keyword {
    margin-top: 5px;
    display: inline;
    height: 70%;
    width: 500px;
    float: left;
    position: relative;
    vertical-align: middle;
}

.search_text {
    margin-top: 10px;
    display: inline;
    height: 70%;
    width: 30px;
    float: left;
    position: relative;
    vertical-align: middle;
}

.search_submit {
    margin-top: 5px;
    display: inline;
    height: 70%;
    width: 50px;
    float: left;
    position: relative;
    vertical-align: middle;
}