{% extends "common/base.html" %}
{% load mezzanine_tags i18n %}
{% block title %}Spider{% endblock %}

{% block navfields %}

{% endblock %}

{% block left %}
<ul class="nav nav-list">
      <li class="nav-header">Getting Started</li>
      <li class="active"><a href="#"><i class="icon-white icon-home"></i> Spiders</a></li>
      <li><a href="#"><i class="icon-book"></i> Tasks</a></li>
      <li><a href="#"><i class="icon-pencil"></i> Servers</a></li>
      <li class="nav-header">Person</li>
      <li><a href="#"><i class="icon-user"></i> Profile</a></li>
      <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="icon-flag"></i> Help</a></li>
    </ul>
{% endblock %}

{% block main %}
<form action="/create" method="post">
{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
<input type="submit" value="Submit" />
</form>
{% endblock %}