<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/css/reset-fonts-grids.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/css/base.css">

<link href="{{ STATIC_URL }}map_media/images/css/page.css" rel="stylesheet" type="text/css" />

<link href="{{ STATIC_URL }}map_media/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}map_media/schema/default/layout.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}map_media/schema/default/searchform.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}map_media/schema/default/searchresult.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/themes/icon.css">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/layout/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/layout/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/layout/css/grid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}map_media/layout/css/nav.css" media="screen" />

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssgrids/grids-min.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-context-min.css">
<script type="text/javascript" src="{{ STATIC_URL }}map_media/js/jquery-1.6.1.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}map_media/js/jsonlint.js">
</script>


