<table class="ui-widget">
    <thead class="ui-widget-header">
        <tr>
            <th>Names</th>
        </tr>
    </thead>
    <tbody class="ui-widget-content">
        {{#names}}
            <tr>
                <td>
                    <a href="/names/{{id}}">{{name}}</a>
                </td>
            </tr>
        {{/names}}
    </tbody>
</table>